In [1]:
import pandas as pd

In [25]:
adhaar=pd.read_csv("C:/Users/Sys7/Documents/python files/adhaar_data.csv")
adhaar

C:\Users\Sys7\AppData\Local\Temp\ipykernel_1560\1292126104.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  adhaar=pd.read_csv("C:/Users/Sys7/Documents/python files/adhaar_data.csv")

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
440813,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,1,3,0,0,1
440814,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,2,1,0,0,1
440815,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,3,3,0,0,1
440816,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,4,1,0,0,0
440817,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Ranchi,Ranchi,834002,F,3,1,0,0,1

In [3]:
adhaar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440818 entries, 0 to 440817
Data columns (total 12 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Registrar                          440818 non-null  object
 1   Enrolment Agency                   440818 non-null  object
 2   State                              440818 non-null  object
 3   District                           440818 non-null  object
 4   Sub District                       440818 non-null  object
 5   Pin Code                           440818 non-null  object
 6   Gender                             440818 non-null  object
 7   Age                                440818 non-null  int64
 8   Aadhaar generated                  440818 non-null  int64
 9   Enrolment Rejected                 440818 non-null  int64
 10  Residents providing email          440818 non-null  int64
 11  Residents providing mobile number  440818 non-null  int64
dtypes: int64(5), object(7)
memory usage: 40.4+ MB

In [30]:
# approved by each states
state_approved=adhaar[adhaar['Aadhaar generated']==True].groupby('State').size()
print(state_approved)

State
Andaman and Nicobar Islands        5
Andhra Pradesh                  3519
Arunachal Pradesh                439
Assam                           2742
Bihar                          57652
Chandigarh                       162
Chhattisgarh                    3409
Dadra and Nagar Haveli            85
Daman and Diu                     89
Delhi                           5816
Goa                              575
Gujarat                        18358
Haryana                         3936
Himachal Pradesh                1029
Jammu and Kashmir               1074
Jharkhand                       5798
Karnataka                      12167
Kerala                          9955
Lakshadweep                        4
Madhya Pradesh                 27491
Maharashtra                    15234
Manipur                          334
Meghalaya                        237
Mizoram                         1778
Nagaland                         289
Odisha                          9105
Others                            12
Puducherry                        69
Punjab                          4944
Rajasthan                      21304
Sikkim                            43
Tamil Nadu                     16464
Telangana                       2953
Tripura                          574
Uttar Pradesh                  52652
Uttarakhand                     4341
West Bengal                    43832
dtype: int64

In [31]:
state_approved.sum()

328470

In [40]:
#rejected by state
state_rejected=adhaar[adhaar['Enrolment Rejected']==True].groupby('State')..size()
print(state_rejected)

State
Andaman and Nicobar Islands       2
Andhra Pradesh                  310
Arunachal Pradesh                67
Assam                            28
Bihar                          4602
Chandigarh                        9
Chhattisgarh                    321
Dadra and Nagar Haveli            3
Daman and Diu                     2
Delhi                           523
Goa                              80
Gujarat                        1732
Haryana                         455
Himachal Pradesh                106
Jammu and Kashmir               190
Jharkhand                       420
Karnataka                      1286
Kerala                          484
Lakshadweep                       1
Madhya Pradesh                 2785
Maharashtra                    1581
Manipur                          90
Meghalaya                         2
Mizoram                         124
Nagaland                         26
Odisha                         1035
Puducherry                       10
Punjab                          396
Rajasthan                      1613
Sikkim                            2
Tamil Nadu                      987
Telangana                       217
Tripura                          54
Uttar Pradesh                  3892
Uttarakhand                     549
West Bengal                    3900
dtype: int64

In [33]:
state_rejected.sum()

27884

In [41]:
#approved by district
cards_approved_by_district=adhaar[adhaar['Aadhaar generated']==True].groupby('District').size()
print(cards_approved_by_district)

District
Adilabad         137
Agra            1233
Ahmadnagar       378
Ahmedabad       2674
Aizawl           397
                ...
Wokha             26
Yadgir           223
Yamuna Nagar     103
Yavatmal         299
Zunheboto          8
Length: 664, dtype: int64

In [43]:
cards_approved_by_district.sum()

328470

In [44]:
#rejected by district
cards_rejected_by_district=adhaar[adhaar['Enrolment Rejected']==True].groupby('District').size()
print(cards_rejected_by_district)

District
Adilabad          2
Agra            101
Ahmadnagar       43
Ahmedabad       173
Aizawl           60
               ...
West Tripura      6
Wokha             2
Yadgir           26
Yamuna Nagar      9
Yavatmal         65
Length: 617, dtype: int64

In [45]:
cards_rejected_by_district.sum()

27884

In [51]:
# total gender count
adhaar['Gender'].value_counts()

M    292798
F    148013
T         7
Name: Gender, dtype: int64

In [56]:
#count of age>25,age between 25to 35, age >45
count_age_25= (adhaar['Age']<25).count()
count_age_25_to_35= ((adhaar['Age']>=25) & (adhaar['Age']<=35)).count()
count_age_45= (adhaar['Age']>45).count()

print("count of age<25:", count_age_25)
print("count of age 35 to 45:", count_age_25_to_35)
print("count of age>45:", count_age_45)

count of age<25: 440818
count of age 35 to 45: 440818
count of age>45: 440818