In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("C:/Users/Sys7/Downloads/Sf_Salaries.csv")
df

C:\Users\Sys7\AppData\Local\Temp\ipykernel_5044\1182865258.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/Sys7/Downloads/Sf_Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [8]:
import numpy as np

In [10]:
# converting the string into numeric
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

In [11]:
#average on BasePay 
average_basepay = df['BasePay'].mean()
print(average_basepay)

66325.4488404877

In [13]:
# the highest amount of OvertimePay in dataset
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
highest_overtime=df['OvertimePay'].max()
print(highest_overtime)

245131.88

In [14]:
# the Job Tile of JOSEPH DRISCOLL
name ="JOSEPH DRISCOLL"
select_name=df[df['EmployeeName']==name]['JobTitle']
print(select_name)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [15]:
# total benefits of JOSEPH DRISCOLL
name ="JOSEPH DRISCOLL"
select_name=df[df['EmployeeName']==name]['TotalPayBenefits']
print(select_name)

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [23]:
# highest paid person
highest_paid_person=df.loc[df['TotalPayBenefits'].idxmax(),'EmployeeName']
print("the highest paid person is:",highest_paid_person)

the highest paid person is: NATHANIEL FORD

In [24]:
#lowest paid person
lowest_paid_person=df.loc[df['TotalPayBenefits'].idxmin(),'EmployeeName']
print("the lowest paid person: ",lowest_paid_person)

the lowest paid person:  Joe Lopez

In [33]:
# the average(mean) BasePay of all employess per year (2011 - 2014)
average_basepay_per_year = df.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [35]:
# unique job titles
unique_job_titles = df['JobTitle'].unique()
print(unique_job_titles)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

In [37]:
# top five job titles
top_job_titles = df['JobTitle'].value_counts().head(5).index
print(top_job_titles)

Index(['Transit Operator', 'Special Nurse', 'Registered Nurse',
       'Public Svc Aide-Public Works', 'Police Officer 3'],
      dtype='object')